<div class="wrapper animsition" data-animsition-in-class="fade-in" data-animsition-in-duration="1000" data-animsition-out-class="fade-out" data-animsition-out-duration="1000">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <a class="navbar-brand page-scroll" href="#main"><img src="/landy/assets/logos/logoPHEC.png" alt="Personal Health Control Logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                  </ul>
                  <ul class="navbar-nav my-2 my-lg-0">
                      <li class="nav-item">
                          <a class="nav-link page-scroll" href="#main">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link page-scroll" href="#services">Importante</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link page-scroll" href="#features">Beneficios</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link page-scroll" href="#reviews">Depoimentos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link page-scroll" href="#login">Acesso</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </div>
  <div class="main" id="main">
      <!-- Main Section-->
      <div class="hero-section app-hero">
          <div class="container">
              <div class="hero-content app-hero-content text-center">
                  <div class="row justify-content-md-center">
                      <div class="col-md-10">
                          <h1 class="wow fadeInUp" data-wow-delay="0s">Personal Health Control</h1>
                          <p class="wow fadeInUp" data-wow-delay="0.2s">
                              Sua saúde na palma da sua mão. <br class="hidden-xs"> Prevenir é a melhor opção, ajudamos a você a se organizar com seu principal bem, sua saúde.
                          </p>
                          <a class="btn btn-primary btn-action" data-wow-delay="0.2s" href="#">Registre-se</a>&nbsp;
                          <a class="btn btn-outline-primary btn-action-outline" data-wow-delay="0.2s" href="#">Acesse</a>
                      </div>
                      <div class="col-md-12">
                          <div class="hero-image">
                              <img class="img-fluid" src="/landy/assets/images/app_hero_1.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="services-section text-center" id="services">
          <!-- Services section (small) with icons -->
          <div class="container">
              <div class="row  justify-content-md-center">
                  <div class="col-md-8">
                      <div class="services-content">
                          <h1 class="wow fadeInUp" data-wow-delay="0s">Controle sua saúde!</h1>
                          <p class="wow fadeInUp" data-wow-delay="0.2s">
                            Agende suas consultas, salve seus exames, salve seu tratamento, controle sua saúde e como anda seus tratamentos, compartilhe com seu médico e tenha o histórico de tudo.
                          </p>
                      </div>
                  </div>
                  <div class="col-md-12 text-center">
                      <div class="services">
                          <div class="row">
                              <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                                  <div class="services-icon">
                                      <img src="/landy/assets/logos/feature_icon_3.png" height="60" width="60" alt="Service">
                                  </div>
                                  <div class="services-description">
                                      <h1>Agendamento</h1>
                                      <p>
                                        Agende suas consultas e seja avisado com antecedência, vá informando ocorrências que acontece antes da consulta e compartilhe com seu médico, para um diagnóstico mais eficaz.
                                      </p>
                                  </div>
                              </div>
                              <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                                  <div class="services-icon">
                                      <img class="icon-2" src="/landy/assets/logos/feature_icon_2.png" height="60" width="60" alt="Service">
                                  </div>
                                  <div class="services-description">
                                      <h1>Exames</h1>
                                      <p>
                                        Tenha o resultado dos seus exames sempre ao seu alcance.
                                      </p>
                                  </div>
                              </div>
                              <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
                                  <div class="services-icon">
                                      <img class="icon-3" src="/landy/assets/logos/feature_icon.png" height="60" width="60" alt="Service">
                                  </div>
                                  <div class="services-description">
                                      <h1>Compartilhe</h1>
                                      <p>
                                        Compartilhe com seu médico, personal ou agende de saúde, para que ele faça o seu diagnóstico.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="flex-features" id="features">
          <div class="container">
              <div class="flex-split">
                  <div class="f-left wow fadeInUp" data-wow-delay="0s">
                      <div class="left-content">
                          <img class="img-fluid" src="/landy/assets/images/feature_bg.jpg" alt="">
                      </div>
                  </div>
                  <div class="f-right wow fadeInUp" data-wow-delay="0.2s">
                      <div class="right-content">
                          <h2>Agilidade e confiabilidade</h2>
                          <p>
                            Agende sua consulta, descreva suas queixas, anexe seus exames, anexe seus tratamentos.
                          </p>
                          <ul>
                              <li><i class="ion-android-checkbox-outline"></i>Informe suas queixas, para não esquecer na consutla.</li>
                              <li><i class="ion-android-checkbox-outline"></i>Compartilhe com o profissional da saúde</li>
                              <li><i class="ion-android-checkbox-outline"></i>Receba o diagnóstico na hora</li>
                          </ul>
                          
                      </div>
                  </div>
              </div>
              <div class="flex-split">
                  <div class="f-right">
                      <div class="right-content wow fadeInUp" data-wow-delay="0.2s">
                          <h2>Seu histórico de exames e tratamentos</h2>
                          <p>
                              Tenha sempre em mãos seus históricos de tratamento.
                          </p>
                          <ul>
                              <li><i class="ion-android-checkbox-outline"></i>Tenha todas as suas consultas</li>
                              <li><i class="ion-android-checkbox-outline"></i>Os exames realizados em cada consulta</li>
                              <li><i class="ion-android-checkbox-outline"></i>Os tratamentos que você já fez</li>
                          </ul>
                          
                      </div>
                  </div>
                  <div class="f-left">
                      <div class="left-content wow fadeInUp" data-wow-delay="0.3s">
                          <img class="img-fluid" src="/landy/assets/images/feature_2.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="testimonial-section" id="reviews">
          <div class="container">
              <div class="row text-center">
                  <div class="col-md-12">
                      <div class="testimonials owl-carousel owl-theme">
                          <div class="testimonial-single"><img class="img-circle" src="/landy/assets/images/testimonial2.jpg" alt="Client Testimonoal">
                              <div class="testimonial-text wow fadeInUp" data-wow-delay="0.2s">
                                  <p>Ficou muito mais fácil acompanhar meus exames. <br class="hidden-xs"> aplicativo muito fácil de utilizar.
                                  </p>
                                  <h3>João Pedro</h3>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                              </div>
                          </div>
                          <div class="testimonial-single"><img class="img-circle" src="/landy/assets/images/testimonial1.jpg" alt="Client Testimonoal">
                              <div class="testimonial-text">
                                  <p>Compartilho com meu personal, que me acompanha no dia a dia.<br class="hidden-xs"> - ficou muito mais prático o meu dia a dia
                                  </p>
                                  <h3>Maria Júlia</h3>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-ios-star-half"></i>
                              </div>
                          </div>
                          <div class="testimonial-single"><img class="img-circle" src="/landy/assets/images/woman.png" alt="Client Testimonoal">
                              <div class="testimonial-text">
                                  <p>Compartilho minhas consultas com minha filha, que me ajuda muito, na hora de me levar ao médico. <br class="hidden-xs"></p>
                                  <h3>Maria Aparecida</h3>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-star"></i>
                                  <i class="ion ion-ios-star-half"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="flex-features" id="login">
        <div class="container">
            <div class="flex-split">
                <div class="f-left wow fadeInUp" data-wow-delay="0s">
                    <div class="left-content">
                        <img class="img-fluid" src="/landy/assets/images/big_feature.png" alt="">
                    </div>
                </div>
                <div class="f-right wow fadeInUp" data-wow-delay="0.2s">
                    <div class="right-content">
                        <h2>Acesso ao painel</h2>
                        <p class="notice"><%= notice %></p>
                        <p class="alert"><%= alert %></p>
                        <%=form_for(User.new, url: '/usuarios/sign_in') do |f| %>
                            <p>
                                <div class="form">
                                    <label for="login">e-mail</label>
                                    <input type="email" id="login" name=user[email] class="form-control">
                                </div>
                            </p>
                            <p>
                                <div class="form">
                                    <label for="senha">senha</label>
                                    <input type="password" id="senha" name="user[password]" class="form-control">
                                </div>
                            </p>
                        
                            <div class="row">
                                <div class="col-lg-4 col-sm-12">
                                    <input type="submit" class="btn btn-primary btn-action btn-fill" value="acessar">
                                </div>
                                <div class="col-lg-8 col-sm-12" style="text-align:right;">
                                    <ul>
                                        <li><i class="ion-android-checkbox-outline"></i><span style="cursor:pointer;" class="text-right f-w-600"> Esqueceu o e-mail?</span></li>
                                        <li><i class="ion-android-checkbox-outline"></i><a href="/users/password/new" class="text-right f-w-600"> Esqueceu a senha?</a></li>
                                        
                                    </ul>
                                    
                                    
                                </div>
                            </div>
                            
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="flex-split">
                <div class="f-right">
                    <div class="right-content wow fadeInUp" data-wow-delay="0.2s">
                        <h2>Faça seu cadastro agora mesmo</h2>
                        <p>
                          Faça a gestão da sua saúde.
                        </p>
                        <ul>
                            <li><i class="ion-android-checkbox-outline"></i>Agendamento de consultas</li>
                            <li><i class="ion-android-checkbox-outline"></i>Compartilhamento</li>
                            <li><i class="ion-android-checkbox-outline"></i>Histórico</li>
                        </ul>
                        <a href="/users/sign_up" class="btn btn-primary btn-action btn-fill">Registre-se</a>
                    </div>
                </div>
                <div class="f-left">
                    <div class="left-content wow fadeInUp" data-wow-delay="0.3s">
                        <img class="img-fluid" src="/landy/assets/images/feature_bg.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- Footer Section -->
      <div class="footer">
          <div class="container">
              <div class="col-md-12 text-center">
                  <img src="/landy/assets/logos/logoPHEC.png" alt="Personal Health Control Logo">
                  <ul class="footer-menu">
                      <li><a href="http://demo.com">Site</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Terms</a></li>
                      <li><a href="#">Privacy</a></li>
                  </ul>
                  <div class="footer-text">
                      <p>
                          Copyright © 2020 Personal Health Control. All Rights Reserved.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Scroll To Top -->
      <a id="back-top" class="back-to-top page-scroll" href="#main">
          <i class="ion-ios-arrow-thin-up"></i>
      </a>
      <!-- Scroll To Top Ends-->
  </div>
  <!-- Main Section -->
</div>
<!-- Wrapper-->